<h1><%= @merch.name %>'s Discount Page</h1>
<section>
<h1>Upcoming Holidays:</h1>
<% @holidays.each do |h| %>
  <%= h.name %> - Date: <%= h.date %>
<% end %>
</section>
<h2><%= link_to 'Create New Discount', new_merchant_discount_path(@merch) %>

<h2>Discount List</h2>
<ul>
  <% @discs.each do |disc| %>
    <li id="discount-<%= disc.id %>">
    <%= disc.percent %>% off <%= disc.threshold %> or more items
    <%= button_to 'View Discount', [@merch, disc], method: :get -%>
    <%= button_to 'Delete Discount', [@merch, disc], method: :delete -%>
    </li>
  <% end %>
</ul>